<%- partial('_partial/head') %>
<body class="cui-color-theme-<%= theme.theme_color %>" onload="changedTheme()" id="page">
  <div id="bonfire-pageloader">
  	<div class="load-container">
  		<div class="load-color">
  			<div class="load-red"></div>
  		</div>
  		<div class="load-color">
  			<div class="load-orange"></div>
  		</div>
  		<div class="load-color">
  			<div class="load-yellow"></div>
  		</div>
  		<div class="load-color">
  			<div class="load-green"></div>
  		</div>
  		<div class="load-color">
  			<div class="load-blue"></div>
  		</div>
  		<div class="load-color">
  			<div class="load-purple"></div>
  		</div>
  	</div>
  </div>
  <div id="container">
    <div id="wrap">
      <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
	  <div class="outer<% if (theme.nav_fixed){ %> mt6<% } %>">
        <section id="main"><%- body %></section>
        <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
          <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
        <% } %>
      </div>
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </div>
    <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
</html>