<div class="widget-wrap animate__animated animate__fadeInUp">
    <div class="widget">
      <div class="blogger">
          <a href="<%- url_for() %>"><img class="blogger-avatar" src="<%= theme.avatar %>" /></a>
          <div class="cui-typo-title"><a class="dol-text-color" href="<%- url_for() %>" style="text-decoration:none;"><%= config.title %></a></div>
          <div class="blogger-motto"><%= theme.introduce %></div>
          <a href="<%= theme.followurl %>" target="_blank" class="cui-btn cui-color-theme cui-shadow-heavy-theme cui-btn-oval blogger-btn">Follow Me</a>
	  </div>
    </div>
  </div>